*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: caption;
    font-size: 12px;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Ubuntu,Arial,sans-serif;
}
.navbar{
    background-color: whitesmoke;
    color: black;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font: caption;
    font-weight: 500;
}
.navContainer{
    width: 100%;
    max-width: 1024px;
    margin-top: 20px;
    margin-left: 100px;
    display: flex;
    position: relative;
}
.navList{
    gap: 20px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.navListItem{
    display: flex;
    align-items: center;
    gap: 10px;
    height: 40px;
    text-decoration: none;
    font-weight: 500;

}
span{
    font-size: 16px;
}
.navListItem:hover{
    border-radius: 5px;
    background-color: rgb(190, 206, 240);
    color: #36c;
    padding-left: 8px;
}

#navId{
    background-color: rgb(190, 206, 240);
    color: #36c;
    padding: 5px 100px;
    padding-left: 8px;
    border-radius: 5px;
}

.desc{ 
   margin-top: 20px;
   position: relative;
    top: -15px;
    left: 50px;
    font-size: 16px;
}
.heading{
    font-size: large;
    color: neutral-900;
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 10px;
}
p{
    font-weight: 500;
    font-size: 16px;
}
.middleBox{
    background: rgb(255, 255, 255);
    border: 1px solid rgb(230, 230, 230);
    box-shadow: rgba(0, 0, 0, 0.04) 0px 8px 16px;
    border-radius: 12px; 
    padding: 30px;
    position: absolute;
    left: 220px;
    top: 100px;
}
.dropdownItem{
    float: left;
    width: 50%;
    box-sizing: border-box;
    font-size: 16px;
    font: caption;
    margin-bottom: 25px;
}
.dropdown-button{
    background: none;
    border: none;
    text-decoration: none;
    cursor: pointer;
    padding: 0;
    font: inherit;
    outline: none;
}
#options{
    display: block;
    font-weight: 500;
}
.bottomlight{
    color: grey;
    font-size: 12px;
    line-height: 16px;
}
.plusminus{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #36c;
    border: 2px solid #36c;
    background-color: white;
}
.navBtnNormal{
    font-size: 14px;
    border-radius: 15px;
    border: 1px solid lightgray;
    background-color: white;
    font-weight: 500;
    padding: 5px 12px;
    margin-right: 8px;
    height: 32px;
    cursor: pointer;
    margin-bottom: 20px;
}
.navBtnNormal:hover{
    background-color: rgb(227, 221, 221);
}
#navibtn{
    border: 1px solid #36c;
    background-color: rgb(190, 206, 240);
    color: #36c;
}
.navSearchItem{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 20px;
}
.holding1,.holding2{
    height: 40px;
    border-radius: 8px;
    border: 1px solid lightgray;
    background-color: white;
    padding: 30px 150px;
    margin: 5px;
    position: relative;
}
.holding1::after,
.holding2::before{
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
}
.navSearchDateTime{
    display: flex;
    font: caption;
    gap: 10px;
}
.navSearchDate{
    font-size: 16px;
    display: flex;
    padding: 10px 20px;
    color: gray;
    border-radius: 5px;
}
.searchBtn{
    font-size: 16px;
    font-weight: 600;
    background-color: rgb(255, 123, 0);
    color: white;
    padding: 15px 30px;
    border-radius: 5px;
    border: 1px solid orange;

}

