:root {
    --orange: #F77728;
    --blue: #3366CC;
    --hoverblue: #3366cc19;
    --white: #FFFFFF;
    --black: #000000;
}
.carousaltwo {
    position: relative;
    width: 270px;
    height: 240px;
    border: 0.2px solid rgba(211, 211, 211, 0.577);
    border-radius: 0.5rem;
    top: -240px;
    right: -1070px;
}
.slidetwo {
    width: 100%;
    height: 100%;
    padding-left: 10px;
}
.slide-hiddentwo {
    display: none;
}
.carousaltwo > div {
    width: 90%;
    justify-content: space-around;
    position: absolute;
    bottom: 20px;
    
}
.slidetwo h4 {
    margin-top: 40px;
    opacity: 0.85;
    font-weight: 600;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    color: #1a1a1a;
}
.slidetwo h5{
    opacity: 0.85;
    font-size: 14px;
    font-weight: 500;
    margin-top: 20px;
    margin-left: 20px;
}
   
    
.slidetwo p {
    margin-top: 12px;
    margin-bottom: 10px;
    font-weight: 300;
    font-size: 14px;
    margin-left: 20px;
}
.slidetwo a {
    color: var(--blue);
    margin-top: 20px;
    font-size: 8px;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}
.arrowtwo {
    width: 10px;
    height: 10px;
    color: white;
}
.arrowtwo:hover {
    cursor: pointer;
}
.indicatorstwo {
    display: flex;
    gap: 8px;
    bottom: 0;
    
}
.indicatortwo {
    background-color: white;
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 100%;
    box-shadow: 0px 0px 5px #5555557a;
    cursor: pointer;
    transition: all 0.4s ease;
}
.indicator-inactivetwo {
    background-color: rgba(128, 128, 128, 0.700);
}
.indicator-activetwo {
    width: 0.9rem;
    height: 0.5em;
    border-radius: 2.5px;
}