:root{
    --orange:#F77728;
    --blue:#3366CC;
    --hoverblue:#3366cc19;
    --white:#FFFFFF;
    --black:#000000;
}
.loginBlackBlur{
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 100000;
    background-color: rgba(0, 0, 0, 0.2);
}
.loginMainDiv{
    position: absolute;
    display: flex;
    z-index: 1000000;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 800px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px lightgray;
    height: 400px;
    background-color: var(--white);
}
.leftLogin{
    width: 100%;
    background-color: rgb(255, 238, 232);
    border-radius: 10px 0px 0px 10px;
    height: 100%;
}
.rightLogin{
    height: 100%;
    border-radius: 0px 10px 10px 0px;
    width: 100%;
}
.crossSign{
    margin-top: 30px;
    width: 100%;
}
.crossSign svg{
    float: right;
    margin-right: 30px;
}
.loginForm{
    height: 80%;
}
.rightLogin fieldset{
    width: 80%;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 5px;
}
.rightLogin fieldset legend{
    margin-left: 10px;
}
.rightLogin fieldset input{
    font-size: 17px;
    font-weight: 400;
    padding-bottom: 5px;
    color: rgba(0, 0, 0, 0.607);
    outline: none;
    width: 92%;
    height: 100%;
    border-radius: 5px;
}
.rightLogin .genderFieldSet{
    border: none;
}
.rightLogin .gender label{
    justify-content: space-evenly;
    width: 100%;
}
.submitLogin .submitSignup{
    padding: 8px 30px;
    background-color: var(--black);
    color: var(--white);
    border-radius: 5px;
    margin-top: 30px;

}
.errors .errorLogin{
    letter-spacing: 0.3px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: -20px;
    color: red;
}
.gotoSignup .backToLogin{
    color: var(--blue);
    cursor: pointer;
    font-size: 12px;
    letter-spacing: -0.2px;
    word-spacing: -0.2;
    margin-top: 10px;
}
form{
    width: 100%;
}
@media(max-width: 800px){
    .loginBlackBlur .loginMainDiv{
        height: 600px;
        width: 400px;
        display: flex;
        flex-direction: column;
    }
    .loginBlackBlur .leftLogin{
        border-radius: 10px 10px 0px 0px;
    }
    .loginBlackBlur{
        width: 100vw;
    }
    .loginBlackBlur .loginForm{
        margin-top: 30px;
    }
    .loginBlackBlur .crossSign{
        position: absolute;
        top: 0;
        right: 0;
    }
    form{
        margin-top: 20px;
    }
    .formSignUp fieldset{
        scale: 0.9;
    }
    .formSignUp .backToLogin{
        margin-top: 0px;
    }
    form{
        margin-top: 0px;
    }
    .genderFieldSet legend{
        display: none;

    }
    .formSignUp .errors{
        margin-top: 0px;
    }


}
@media(max-width: 500px){
    .loginBlackBlur .rightLogin{
        padding: none;
    }
    .loginBlackBlur .crossSign{
        margin-top: 10px;
    }
}

@media(max-width: 370px){
    .loginBlackBlur .loginMainDiv{
        width: 80vw;
        height: 70vh;
        position: relative;
    }
    .errorLogin .loginForm{
        margin-top: 0px;
    }
    .loginForm .errors{
        margin-top: 0px;
    }
    
}